<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">



    <div *ngIf="!prodPage.cargada" class="loading">Loading&#8230;</div>



    <div *ngIf="prodPage.cargada" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <a *ngFor="let producto of prodPage.productos" routerLink="/item" class="rk-item ae-masonry__item">
            <img class="animated fadeIn " src="assets/productos/{{ producto.url }}.jpg" alt="">
            <div class="item-meta">
                <h2>{{ producto.titulo }}</h2>
                <p>{{ producto.categoria }}</p>
            </div>
        </a>
    </div>
</section>